<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.reasoning.service.handlers.LocalConformsCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.localconformscommand"
            name="Local conforms">
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.reasoning.service.handlers.FeatureConformsCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.featureconformscommand"
            name="Feature conforms">
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.reasoning.service.handlers.PropertyConformsCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.propertyconformscommand"
            name="Property conforms">
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.reasoning.service.handlers.MultiplicityConformsCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.multiplicityconformscommand"
            name="Multiplicity conforms">
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.reasoning.service.handlers.IsExpressedInstanceOfExcludedCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.isexpressedinstanceofexcludedconformscommand"
            name="Is expressed instance of excluded">
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.reasoning.service.handlers.ConsistencyCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.consistencycommand"
            name="Consistency">
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.reasoning.service.handlers.ConsistentClassificationCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.consistentclassificationycommand"
            name="Consistent Classification">
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.reasoning.service.handlers.HyponymCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.hyponymcommand"
            name="Hyponym">
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.reasoning.service.handlers.InstanceCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.instancecommand"
            name="Instance">
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.reasoning.service.handlers.IsonymCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.isonymcommand"
            name="Isonym">
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.reasoning.service.handlers.NeighbourhoodConformsCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.neighbourhoodconformscommand"
            name="Neighbourhood conforms">
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.reasoning.service.handlers.PropertyConformsCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.propertyconformscommand"
            name="Property conforms">
      </command>
   </extension>
   <extension
         point="de.uni_mannheim.informatik.swt.reasoning.service">
      <service
            class="de.uni_mannheim.informatik.swt.plm.reasoning.service.ReasoningService"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service">
      </service>
   </extension>

</plugin>
