<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.LocalConformsCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.localconformscommand"
            name="Local conforms">
         <commandParameter
               id="type"
               name="type"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
         <commandParameter
               id="instance"
               name="instance"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
         <commandParameter
               id="forceClabject"
               name="Force Clabject"
               optional="true">
         </commandParameter>
         <commandParameter
               id="silent"
               name="silent"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.FeatureConformsCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.featureconformscommand"
            name="Feature conforms">
         <commandParameter
               id="type"
               name="type"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
         <commandParameter
               id="instance"
               name="instance"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.MultiplicityConformsCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.multiplicityconformscommand"
            name="Multiplicity conforms">
         <commandParameter
               id="connection"
               name="connection"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.IsExpressedInstanceOfExcludedCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.isexpressedinstanceofexcludedconformscommand"
            name="Is expressed instance of excluded">
         <commandParameter
               id="type"
               name="type"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
         <commandParameter
               id="instance"
               name="instance"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.ClassificationConsistencyCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.classificationconsistencycommand"
            name="Classification Consistency">
         <commandParameter
               id="classification"
               name="classification"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.GeneralizationConsistencyCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.generalizationconsistencycommand"
            name="Generalization Consistency">
         <commandParameter
               id="generalization"
               name="generalization"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.OntologyConsistencyCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.ontologyconsistencycommand"
            name="Ontology Consistency">
         <commandParameter
               id="ontology"
               name="ontology"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.ModelConsistentClassificationCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.modelconsistentclassificationcommand"
            name="Consistent Classification">
         <commandParameter
               id="model"
               name="model"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.HyponymCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.hyponymcommand"
            name="Hyponym">
         <commandParameter
               id="type"
               name="type"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
         <commandParameter
               id="instance"
               name="instance"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.InstanceCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.instancecommand"
            name="Instance">
         <commandParameter
               id="type"
               name="type"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
         <commandParameter
               id="instance"
               name="instance"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.IsonymCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.isonymcommand"
            name="Isonym">
         <commandParameter
               id="type"
               name="type"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
         <commandParameter
               id="instance"
               name="instance"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.NeighbourhoodConformsCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.neighbourhoodconformscommand"
            name="Neighbourhood conforms">
         <commandParameter
               id="type"
               name="type"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
         <commandParameter
               id="instance"
               name="instance"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.PropertyConformsCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.propertyconformscommand"
            name="Property conforms">
         <commandParameter
               id="type"
               name="type"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
         <commandParameter
               id="instance"
               name="instance"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.SubsumptionCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.isSubtype"
            name="isSubtype">
         <commandParameter
               id="supertype"
               name="supertype"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
         <commandParameter
               id="subtype"
               name="subtype"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
         <commandParameter
               id="silent"
               name="silent"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.SubsumptionCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.subsumptioncommand"
            name="Subsumption">
         <commandParameter
               id="silent"
               name="silent"
               optional="true">
         </commandParameter>
         <commandParameter
               id="model"
               name="model"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.mlm.reasoning.service.handlers.PotencyCompletenessCommand"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.commands.potencycompletenesscommand"
            name="Potency Completeness">
         <commandParameter
               id="silent"
               name="silent"
               optional="true">
         </commandParameter>
         <commandParameter
               id="clabject"
               name="clabject"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="de.uni_mannheim.informatik.swt.reasoning.service">
      <service
            class="de.uni_mannheim.informatik.swt.mlm.reasoning.service.ReasoningService"
            id="de.uni_mannheim.informatik.swt.mlm.reasoning.service">
      </service>
   </extension>

</plugin>
