<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uni_mannheim.informatik.swt.visualization.service" name="Visualization Service" schema="schema/de.uni_mannheim.informatik.swt.visualization.service.exsd"/>
   <extension-point id="de.uni_mannheim.informatik.swt.reasoning.service" name="Reasoning Service" schema="schema/de.uni_mannheim.informatik.swt.reasoning.service.exsd"/>

</plugin>
