<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.uni_mannheim.informatik.swt.visualization.service">
      <service
            class="de.uni_mannheim.informatik.swt.plm.visualization.service.VisualModelToFigureTransfomator"
            id="de.uni_mannheim.informatik.swt.mlm.visualization.service">
      </service>
   </extension>


</plugin>
