<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.atl.engine.vm.modelhandler">
      <modelhandler
            class="de.uni_mannheim.informatik.swt.atl.drivers.plm4atl.AtlPLMModelHandler"
            name="PLM">
      </modelhandler>
   </extension>

</plugin>
