<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.uni_mannheim.informatik.swt.plm.refactoring.service.handlers.RenameClabjectCommand"
            commandId="de.uni_mannheim.informatik.swt.plm.refactoring.service.commands.renameclabjectcommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.uni_mannheim.informatik.swt.plm.refactoring.service.commands.renameclabjectcommand"
            name="Rename Clabject">
      </command>
   </extension>

</plugin>
