<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.test.modeltestaction"
            objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
         <action
               class="de.uni_mannheim.swt.plm.reasoning.service.test.ExecuteModelTests"
               id="de.uni_mannheim.swt.plm.reasoning.service.test.actionexecutereasonoingtest"
               label="execute reasoning test code">
         </action>
         <action
               class="de.uni_mannheim.swt.plm.reasoning.service.test.ExecuteProximity"
               id="de.uni_mannheim.informatik.swt.mlm.reasoning.service.test.action1"
               label="ProximityTest">
         </action>
      </objectContribution>
   </extension>

</plugin>
