<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.uni_mannheim.informatik.swt.lmlcategory_views"
            class="de.uni_mannheim.informatik.swt.plm.reasoning.service.view.views.ReasoningView"
            icon="icons/reasoning.gif"
            id="de.uni_mannheim.informatik.swt.plm.reasoning.service.view.reasoningview"
            name="Reasoning">
      </view>
   </extension>

</plugin>
