<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="de.uni_mannheim.informatik.swt.lmlcategory_views"
            class="de.uni_mannheim.informatik.swt.mlm.reasoning.service.view.views.ReasoningView"
            icon="icons/reasoning.gif"
            id="de.uni_mannheim.informatik.swt.mlm.reasoning.service.view"
            name="Reasoning">
      </view>
   </extension>
   <extension
         point="de.uni_mannheim.informatik.swt.popupbarbuttons.provider">
      <provider
            class="de.uni_mannheim.informatik.swt.mlm.reasoning.service.view.popupbartools.PopupToolBarProvider"
            id="de.uni_mannheim.informatik.swt.mlm.reasoning.service.view.popuptoolbarprovider">
      </provider>
   </extension>

</plugin>
