<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.elementrendering"
            objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.ShapeNodeEditPart">
         <action
               class="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.AddVisualizationAction"
               id="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.addvisualizationaction"
               label="%action.label">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.toggleconnectioneditpart"
            objectClass="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.ConnectionEditPart">
         <action
               class="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.ToggleNodeAction"
               id="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.toggledomainconnectionationaction"
               label="%action.label.0">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.togglebinarygeneralizationeditpart"
            objectClass="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.BinaryGeneralizationEditPart">
         <action
               class="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.ToggleNodeAction"
               id="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.toggledomainconnectionationaction"
               label="%action.label.0">
         </action>
      </objectContribution>
       <objectContribution
            adaptable="false"
            id="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.togglemultiplegeneralizationeditpart"
            objectClass="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.MultipleGeneralizationEditPart">
         <action
               class="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.ToggleNodeAction"
               id="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.toggledomainconnectionationaction"
               label="%action.label.0">
         </action>
      </objectContribution>
       <objectContribution
            adaptable="false"
            id="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.togglemultiplespecializationeditpart"
            objectClass="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.MultipleSpecializationEditPart">
         <action
               class="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.ToggleNodeAction"
               id="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.toggledomainconnectionationaction"
               label="%action.label.0">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.LMLPerspectiveFactory"
            id="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.perspective1"
            name="LML Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.uni_mannheim.informatik.swt.lmlcategory"
            name="LML Editing">
      </category>
   </extension>
	<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <propertyTabs contributorId="de.uni_mannheim.informatik.swt.models.plm.diagram">
          <propertyTab
                afterTab="property.tab.domain"
                category="domain"
                id="property.tab.ontological"
                label="Ontological">
          </propertyTab>
          <propertyTab
                afterTab="property.tab.ontological"
                category="domain"
                id="property.tab.visualization"
                label="Visualization">
          </propertyTab>
      </propertyTabs>
   </extension>
      <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="de.uni_mannheim.informatik.swt.models.plm.diagram">
         <propertySection
               class="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.OntologicalPropertySectionAbstractPropertySection"
               id="property.section.ontological"
               tab="property.tab.ontological">
            <input
                  type="org.eclipse.gef.EditPart">
            </input>
            <input
                  type="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.navigator.PLMAbstractNavigatorItem">
            </input>
         </propertySection>
         <propertySection
               class="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.VisualizationPropertySectionAbstractPropertySection"
               id="property.section.visualization"
               tab="property.tab.visualization">
            <input
                  type="org.eclipse.gef.EditPart">
            </input>
            <input
                  type="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.navigator.PLMAbstractNavigatorItem">
            </input>
         </propertySection>
      </propertySections>
   </extension>
</plugin>
