<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.domainentityeditpart"
            objectClass="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.DomainEntityEditPart">
         <action
               class="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.AddVisualizationAction"
               id="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.addvisualizationaction"
               label="Add Visualization">
         </action>
      </objectContribution>
   </extension>

</plugin>
