<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.toggleconnectioneditpart"
            objectClass="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.ConnectionEditPart">
         <action
               class="de.uni_mannheim.informatik.swt.models.plm.diagram.menucontributions.ToggleNodeAction"
               id="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.toggledomainconnectionationaction"
               label="Toggle">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.togglebinarygeneralizationeditpart"
            objectClass="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.GeneralizationEditPart">
         <action
               class="de.uni_mannheim.informatik.swt.models.plm.diagram.menucontributions.ToggleNodeAction"
               id="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.toggledomainconnectionationaction"
               label="Toggle">
         </action>
      </objectContribution>
       <objectContribution
             adaptable="false"
             id="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.dsl"
             objectClass="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.EntityEditPart">
          <action
                class="de.uni_mannheim.informatik.swt.models.plm.diagram.menucontributions.DSLAction"
                id="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.addvisualizationaction"
                label="DSL">
          </action>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.dsl"
             objectClass="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.ConnectionEditPart">
          <action
                class="de.uni_mannheim.informatik.swt.models.plm.diagram.menucontributions.DSLAction"
                id="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.addvisualizationaction"
                label="DSL">
          </action>
       </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.MelaniePerspectiveFactory"
            id="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.perspective1"
            name="MelAniE">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.uni_mannheim.informatik.swt.lmlcategory"
            name="MelAniE">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.uni_mannheim.informatik.swt.lmlcategory_views"
            name="MelAniE">
      </category>
   </extension>
	<extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <propertyTabs contributorId="de.uni_mannheim.informatik.swt.models.plm.diagram">
          <propertyTab
                afterTab="property.tab.domain"
                category="domain"
                id="property.tab.ontological"
                label="Ontological">
          </propertyTab>
          <propertyTab
                afterTab="property.tab.ontological"
                category="domain"
                id="property.tab.associate"
                label="Participants">
          </propertyTab>
          <propertyTab
                afterTab="property.tab.associate"
                category="domain"
                id="property.tab.visualization"
                label="Visualization">
          </propertyTab>
      </propertyTabs>
   </extension>
      <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="de.uni_mannheim.informatik.swt.models.plm.diagram">
         <propertySection
               class="de.uni_mannheim.informatik.swt.models.plm.diagram.propertysheet.OntologicalPropertySectionAbstractPropertySection"
               id="property.section.ontological"
               tab="property.tab.ontological">
            <input
                  type="org.eclipse.gef.EditPart">
            </input>
            <input
                  type="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.navigator.PLMAbstractNavigatorItem">
            </input>
         </propertySection>
         <propertySection
               class="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.AssociatePropertySectionAbstractPropertySection"
               id="property.section.associate"
               tab="property.tab.associate">
            <input
                  type="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.ConnectionEditPart">
            </input>
            <input
                  type="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.navigator.PLMAbstractNavigatorItem">
            </input>
         </propertySection>
         <propertySection
               class="de.uni_mannheim.informatik.swt.models.plm.diagram.propertysheet.VisualizationPropertySectionAbstractPropertySection"
               id="property.section.visualization"
               tab="property.tab.visualization">
            <input
                  type="org.eclipse.gef.EditPart">
            </input>
            <input
                  type="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.navigator.PLMAbstractNavigatorItem">
            </input>
         </propertySection>
      </propertySections>
   </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="true"
               locationURI="popup:org.eclipse.ui.popup.any">
            <separator
                  name="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.separator1"
                  visible="true">
            </separator>
            <menu
                  id="refactor.menu"
                  label="Refactor">
               <dynamic
                     class="de.uni_mannheim.informatik.swt.models.plm.diagram.menucontributions.RefactorContributionItem"
                     id="refactoringContributionItem">
               </dynamic>
               <visibleWhen
                     checkEnabled="true">
                  <or>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.EntityEditPart">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.ConnectionEditPart">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.AttributeEditPart">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.Attribute2EditPart">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.MethodEditPart">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.Method2EditPart">
                        </instanceof>
                     </iterate>
                  </or>
               </visibleWhen>
            </menu>
            <menu
                  id="reasoning.menu"
                  label="Reasoning">
               <dynamic
                     class="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.ReasoningContributionItem"
                     id="reasoningContributionItem">
               </dynamic>
               <visibleWhen
                     checkEnabled="true">
                  <or>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.EntityEditPart">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.ConnectionEditPart">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.AttributeEditPart">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.Attribute2EditPart">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.MethodEditPart">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.Method2EditPart">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.ClassificationEditPart">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.MultipleGeneralizationEditPart">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.MultipleSpecializationEditPart">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.BinaryGeneralizationEditPart">
                        </instanceof>
                     </iterate>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="de.uni_mannheim.informatik.swt.models.plm.PLM.diagram.edit.parts.OntologyEditPart">
                        </instanceof>
                     </iterate>
                  </or>
               </visibleWhen>
            </menu>
            <separator
                  name="de.uni_mannheim.informatik.swt.models.plm.diagram.custom.separator2"
                  visible="true">
            </separator>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
         <editpolicyProvider
               class="de.uni_mannheim.informatik.swt.models.plm.diagram.editpolicies.PLMModelElementPopupBarEditPolicy">
            <Priority
                  name="Lowest">
            </Priority>
            <context
                  editparts="Connection_3060, Entity_3069, Generalization_3072"></context>
         </editpolicyProvider>
      </extension>
</plugin>
