<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.uni_mannheim.informatik.swt.mlm.visualization.textual.modeleditor.editor.MultiLevelModelTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="mlmt"
            icon="icons/text16.gif"
            id="de.uni_mannheim.informatik.swt.mlm.visualization.textual.modeleditor"
            name="Textual Multi-level Model Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="de.uni_mannheim.informatik.swt.mlm.visualization.textual.modeleditor.literaltype"
            super="org.eclipse.jdt.ui.occurrences">
      </type>
   org.eclipse.jdt.ui.occurrences</extension>
   <extension
         point="de.uni_mannheim.informatik.swt.textualvisualization.service">
      <service
            class="de.uni_mannheim.informatik.swt.mlm.visualization.textual.modeleditor.TextualVisualizationService"
            id="de.uni_mannheim.informatik.swt.mlm.visualization.textual.modeleditor.service">
      </service>
   </extension>

</plugin>
