<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.uni_mannheim.informatik.swt.plm.refactoring.service.commands"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.refactoring.service.handlers.DeleteClabjectCommand"
            id="de.uni_mannheim.informatik.swt.plm.refactoring.service.commands.deleteclabjectcommand"
            name="Delete Clabject">
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.refactoring.service.handlers.DeleteFeatureCommand"
            id="de.uni_mannheim.informatik.swt.plm.refactoring.service.commands.deletefeaturecommand"
            name="Delete Feature">
      </command>
   </extension>
   <extension
         point="de.uni_mannheim.informatik.swt.refactoring.service">
      <service
            class="de.uni_mannheim.informatik.swt.plm.refactoring.service.Refactorer"
            id="de.uni_mannheim.informatik.swt.plm.refactoring.service">
      </service>
   </extension>

</plugin>
