<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Melanie">
         <property
               name="windowImages"
               value="img/melanie16.gif,img/melanie32.gif,img/melanie48.gif,img/melanie16.png,img/melanie32.png">
         </property>
         <property
               name="aboutText"
               value="Melanie - Multi-level Modeling and Ontology Engineering Environment&#x0A;&#x0A;Version: 1.0.0&#x0A;&#x0A;(c) Copyright University of Mannheim and others 2010, 2013.  All rights reserved.&#x0A;Visit http://www.eclipselabs.org/p/melanie&#x0A;&#x0A;This product includes software developed by the&#x0A;Apache Software Foundation http://www.apache.org/&#x0A;&#x0A;Thanks to:&#x0A;Ralph Gerbig, Bastian Kennel, Colin Atkinson, Björn Goß">
         </property>
         <property
               name="aboutImage"
               value="img/melanie_lg.gif">
         </property>
         <property
               name="appName"
               value="Melanie">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,245,490,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,225,490,15">
         </property>
      </product>
   </extension>

</plugin>
