<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.uni_mannheim.informatik.swt.plm.refactoring.service.commands"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.refactoring.service.handlers.DeleteClabjectCommand"
            id="de.uni_mannheim.informatik.swt.plm.refactoring.service.commands.deleteclabjectcommand"
            name="Delete Clabject">
         <commandParameter
               id="clabject"
               name="clabject"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.refactoring.service.handlers.AddFeatureToClabjectCommand"
            id="de.uni_mannheim.informatik.swt.plm.refactoring.service.commands.addfearuretoclabjectcommand"
            name="Add Feature">
         <commandParameter
               id="clabject"
               name="clabject"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.refactoring.service.handlers.DeleteFeatureCommand"
            id="de.uni_mannheim.informatik.swt.plm.refactoring.service.commands.deletefeaturecommand"
            name="Delete Feature">
         <commandParameter
               id="feature"
               name="feature"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.refactoring.service.handlers.RenameFeatureCommand"
            id="de.uni_mannheim.informatik.swt.plm.refactoring.service.commands.renamefeaturecommand"
            name="Rename Feature">
         <commandParameter
               id="feature"
               name="feature"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
         <commandParameter
               id="oldValue"
               name="oldValue"
               optional="true">
         </commandParameter>
         <commandParameter
               id="newValue"
               name="newValue"
               optional="true">
         </commandParameter>
         <commandParameter
               id="attributeToChange"
               name="attributeToChange"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.refactoring.service.handlers.RenameFeatureCommand"
            id="de.uni_mannheim.informatik.swt.plm.refactoring.service.commands.changefeaturepotencycommand"
            name="Change Potency">
         <commandParameter
               id="feature"
               name="feature"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
      <command
            defaultHandler="de.uni_mannheim.informatik.swt.plm.refactoring.service.handlers.ChangeFeatureDurabilityCommand"
            id="de.uni_mannheim.informatik.swt.plm.refactoring.service.commands.changefeaturedurabilitycommand"
            name="Change Feature Durability">
         <commandParameter
               id="feature"
               name="feature"
               optional="true"
               typeId="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="de.uni_mannheim.informatik.swt.refactoring.service">
      <service
            class="de.uni_mannheim.informatik.swt.plm.refactoring.service.Refactorer"
            id="de.uni_mannheim.informatik.swt.mlm.refactoring.service">
      </service>
   </extension>

</plugin>
