<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.uni_mannheim.informatik.swt.visualization.service" name="Visualization Service" schema="schema/de.uni_mannheim.informatik.swt.visualization.service.exsd"/>
   <extension-point id="de.uni_mannheim.informatik.swt.reasoning.service" name="Reasoning Service" schema="schema/de.uni_mannheim.informatik.swt.reasoning.service.exsd"/>
   <extension-point id="de.uni_mannheim.informatik.swt.emendation.service" name="Emendation Service" schema="schema/de.uni_mannheim.informatik.swt.emendation.service.exsd"/>
   <extension-point id="de.uni_mannheim.informatik.swt.proximityindication.service" name="Proximity Indication" schema="schema/de.uni_mannheim.informatik.swt.proximityindication.service.exsd"/>
   <extension-point id="de.uni_mannheim.informatik.swt.dsl.service" name="Graphical Domain Specific Languages" schema="schema/de.uni_mannheim.informatik.swt.dsl.service.exsd"/>
   <extension-point id="de.uni_mannheim.informatik.swt.popupbarbuttons.provider" name="Pop Up Bar Button Provider" schema="schema/de.uni_mannheim.informatik.swt.popupbarbuttons.provider.exsd"/>
   <extension-point id="de.uni_mannheim.informatik.swt.autolayout.service" name="Auto Layout Service" schema="schema/de.uni_mannheim.informatik.swt.autolayout.service.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.uni_mannheim.informatik.swt.models.plm.diagram.general"
            class="de.uni_mannheim.informatik.swt.mlm.workbench.preferences.MelanieWorkbenchPreferences"
            id="de.uni_mannheim.informatik.swt.plm.workbench.preferences.MelanieWorkbenchPreferences"
            name="Workbench">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.uni_mannheim.informatik.swt.mlm.workbench.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <commandParameterType
            converter="de.uni_mannheim.informatik.swt.mlm.workbench.commandparameterconverter.EObjectCommandParameterConverter"
            id="de.uni_mannheim.informatik.swt.plm.workbench.eobjectcommandparametertype">
      </commandParameterType>
   </extension>

</plugin>
