<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://swt.informatik.uni-mannheim.de/PLM"
            class="de.uni_mannheim.informatik.swt.models.plm.PLM.PLMPackage"
            genModel="model/PLM.genmodel"/>
   </extension>

</plugin>
